.subscribed_data {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  h5 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0.2rem 0;
    padding: auto;
    font-size: 0.9rem;
    &.uuid {
      font-family: monospace;
      font-size: 1rem;
      color: #acacac;
      background-color: #f4f4f4;
      width: fit-content;
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem;
    }
    &.rut {
      font-weight: bold;
      font-size: 1.1rem;
      color: #3c68e0;
    }
  }
}

.subscription-check.container {
  * {
    margin: 0;
    box-sizing: content-box;
  }
  .header {
    h2 {
      font-size: 1.1rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      color: #8c8c8c;
    }
    .uuid {
      font-family: monospace;
      font-size: 0.8rem;
      color: #acacac;
      background-color: #f4f4f4;
      width: fit-content;
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem;
    }
  }
  .result-tag {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 0;
    text-align: center;
    width: 90px;
    height: 50px;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    &.ok {
      background-color: greenyellow;
      color: green;
    }
    &.no {
      background-color: rgb(233, 135, 167);
      color: rgb(164, 32, 32);
    }
  }
  .data {
    margin-top: 1rem;

    p:nth-child(2) {
      color: #8c8c8c;
      font-size: 0.8rem;
    }
    p:last-child {
      margin-top: 1rem;
    }
  }
}
