#educational-main {
  /* border: solid 1px magenta; */
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: min(550px, 80vw);
  align-content: center;
  justify-content: center;
  align-self: center;
  margin-right: 30px;
}
