#educational-section {
  position: absolute;
  display: flex;
}

#video-container {
  border: solid 1px blue;
  position: absolute;
  box-sizing: border-box;
  width: 550px;
  height: fit-content;
}

/* https://css-tricks.com/css-only-carousel/ */

.video-ul {
  position: inherit;
  border: solid 1px red;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.video-item {
  scale: 1;
  z-index: 1;
  transition: all 0.2s ease-in;
  width: auto;
  height: auto;
  filter: grayscale(50%);
}

.video-item:hover {
  scale: 1.05;
  z-index: 2;
  filter: grayscale(0%);
}

#mobile-container {
  position: absolute;
}
