#video-section {
  position: relative;

  left: 0;
}

#video-container {
  /* border: solid 2px blue; */
  box-sizing: border-box;
  height: fit-content;
  max-width: 540px;
}

#video-container iframe {
  max-width: 240px;
  height: 150px;
  box-shadow: 1px 1px 3px 3px rgb(0, 0, 0, 0.1);
  transition: max-width 1s ease-in-out;
}
@media (width<598px) {
  #video-container iframe {
    max-width: 650px;
    height: 200px;
  }
}
/* https://css-tricks.com/css-only-carousel/ */
#video-container ul {
  /* border: solid 1px red; */
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#video-container li {
  scale: 1;
  z-index: 1;
  transition: all 0.2s ease-in;
  filter: grayscale(50%);
  padding: 2px;
}

#video-container li:hover {
  scale: 1.05;
  z-index: 2;
  filter: grayscale(0%);
}
