.myCalendar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  display: block;
}

.myCalendar.container {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 10px 60px 10px 10px;
}

h3.myCalendar,
h4.myCalendar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: gray;
}
p.myCalendar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: gray;
}

ol.myCalendar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
/*body days square*/
li.myCalendar {
  font-size: 0.7rem;
  min-height: 60px;
  border: 1.5px white solid;
  border-radius: 7px;
  padding: 4px;
}

/*headers L M M J V days */
li.myCalendar.header {
  font-size: 0.8rem;
  min-height: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: gray;
}

li.myCalendar.sequence {
  background-color: rgb(238, 240, 252);
  color: rgb(186, 189, 206);
}
li.myCalendar.sequence:hover {
  transition: all 0.6s ease-in-out;
  color: white;
  background-color: rgba(173, 183, 236, 0.829);
}

li.myCalendar.today {
  color: rgb(114, 123, 161);
  font-weight: bold;
  background-color: rgb(198, 203, 252);
}

.eventWidget {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: whitesmoke;
  font-weight: 400;
  font-size: 0.7rem;
  margin: 2px;
  padding: 4px 2px 4px 4px;
  border-radius: 4px;
  background: rgb(88, 88, 146);
}

.eventWidget:hover {
  transition: all 0.6s ease-in-out;
  background: rgb(18, 18, 116);
}

span.myCalendar {
  font-size: x-small;
  border-radius: 8px;
  padding-left: 3px;
  padding-right: 3px;
}

span.myCalendar.activity {
  background-color: rgba(255, 255, 255, 0.315);
}
span.myCalendar.delivery {
  background-color: rgba(92, 146, 172, 0.568);
}

span.myCalendar.popUp {
  visibility: hidden;
  position: absolute;
  display: flex;
  max-width: 90px;
  padding: 5px;
  background-color: black;
  cursor: pointer;
  user-select: none;
  z-index: 1;
  bottom: 50%;
  left: 50%;
}

span.myCalendar.popUp:hover {
  visibility: visible;
}
