.myCalendar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  display: block;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 0px 60px 10px 20px;
}

.myCalendar h3,
h4 {
  color: gray;
}
.myCalendar p {
  color: gray;
}

ol,
ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

li {
  font-size: 0.7rem;
  min-height: 60px;
  border: 1.5px white solid;
  border-radius: 7px;
  background-color: rgb(238, 240, 252);
  padding: 4px;
}

li.header {
  font-size: 0.8rem;
  min-height: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: gray;
}

li.sequence {
  color: rgb(186, 189, 206);
}
li.sequence:hover {
  background-color: rgb(253, 253, 253);
}

li.today {
  color: rgb(114, 123, 161);
  font-weight: bold;
  background-color: rgb(198, 203, 252);
}

.eventWidget {
  text-align: center;
  color: whitesmoke;
  font-weight: 400;
  font-size: 0.7 rem;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
  background-image: linear-gradient(to top left, rgb(88, 88, 146), rgb(98, 111, 163));
}
