.myCalendar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  display: block;
}

.myCalendar.container {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 10px 60px 10px 10px;
}

h3.myCalendar,
h4.myCalendar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: gray;
}
p.myCalendar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: gray;
}

ol.myCalendar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

li.myCalendar {
  font-size: 0.7rem;
  min-height: 60px;
  border: 1.5px white solid;
  border-radius: 7px;
  background-color: rgb(238, 240, 252);
  padding: 4px;
}

li.myCalendar.header {
  font-size: 0.8rem;
  min-height: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: gray;
}

li.myCalendar.sequence {
  color: rgb(186, 189, 206);
}
li.myCalendar.sequence:hover {
  background-color: rgb(253, 253, 253);
}

li.myCalendar.today {
  color: rgb(114, 123, 161);
  font-weight: bold;
  background-color: rgb(198, 203, 252);
}

.eventWidget {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: whitesmoke;
  font-weight: 400;
  font-size: 0.7 rem;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
  background-image: linear-gradient(to top left, rgb(88, 88, 146), rgb(98, 111, 163));
}

span.myCalendar {
  font-size: x-small;
  border-radius: 8px;
  padding-left: 3px;
  padding-right: 3px;
}

span.myCalendar.activity {
  background-color: rgba(255, 255, 255, 0.473);
}
span.myCalendar.delivery {
  background-color: rgba(92, 146, 172, 0.568);
}
