:root {
  --primary-100: rgb(240, 240, 255);
  --primary-200: rgb(200, 200, 255);
  --primary-300: rgb(88, 88, 146);
  --alert: rgba(92, 146, 172, 0.568);
}
#myCalendar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

#myCalendar .container {
  justify-content: flex-start;
  height: auto;
  border: 1px solid lightgrey;
  box-shadow: 4px 4px 8px lightgrey;
  border-radius: 8px;
  padding: 0px 0px;
  background-image: linear-gradient(
    to bottom right,
    white 50%,
    rgba(119, 136, 153, 0.144) 100%
  );
}

h3.myCalendar,
h4.myCalendar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#myCalendar p {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#myCalendar ol {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0px 10px 10px 10px;
  gap: 0px;
  grid-template-columns: repeat(5, 1fr);
}
/*body days square*/
#myCalendar li {
  font-size: 0.7rem;
  min-height: 60px;
  border: 1.5px white solid;
  border-radius: 7px;
  padding: 4px;
}

/*headers L M M J V days */
#myCalendar li.header {
  font-size: 0.8rem;
  min-height: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: gray;
}

/* Each day square in calendar */
#myCalendar li.sequence {
  background-color: rgb(238, 240, 252);
  color: rgb(186, 189, 206);
}
#myCalendar li.sequence:hover {
  transition: all 0.6s ease-in-out;
  color: white;
  background-color: var(--primary-200);
}
/* Today  square in calendar with different properties*/
#myCalendar li.today {
  color: var(--primary-300);
  font-weight: bold;
  background-color: var(--primary-200);
}

/*Content of calendar days */
.eventWidget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  color: var(--primary-100);
  cursor: pointer;
  max-width: 90px;
  font-weight: 400;
  font-size: 0.7rem;
  margin: 2px;
  padding: 4px;
  border-radius: 4px;
  background: var(--primary-300);
}
/*Content of calendar days */
@media (max-width: 600px) {
  .eventWidget {
    justify-content: center;
  }
}

.eventWidget:hover {
  transition: all 0.6s ease-in-out;
  background: rgb(18, 18, 116);
}

.eventWidget .upper {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.6rem;
  font-weight: 500;
  align-content: space-evenly;
}

.eventWidget .bottom {
  font-size: 0.6rem;
  font-weight: 300;
  margin: 0 0 0 6px;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
}

@media (max-width: 550px) {
  .eventWidget .bottom {
    display: none;
  }
}

/* Tag with type of event */
.myCalendar {
  font-size: 0.7rem;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: baseline;
  border-radius: 8px;
  vertical-align: center;
  padding: 2px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2px;
  margin: 0 2px;
  width: 1.2rem;
  font-size: 0.55rem;
  border-radius: 3px;
  /* text-shadow: 1px 1px 1px #00000023; */
}

@media (max-width: 550px) {
  .tag {
    display: none;
  }
}

.tag.permanent {
  display: flex;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.activity {
  color: var(--primary-300);
  background-color: var(--primary-200);
}
.delivery {
  background-color: var(--alert);
}

/* popUp with details of each classrooms */
.popUp {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-width: 200px;
  color: #444;
  font-size: 10px;
  .header {
    h4 {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.9rem;
      font-weight: 600;

      .tag {
        width: fit-content;
        padding: 2px 4px;
        font-size: 0.7rem;

        .delivery {
          color: white;
        }
      }
    }
    p {
      font-size: 0.8rem;
    }
  }
  .command {
    display: flex;
    justify-content: center;
    button {
      border: none;
      display: flex;
      gap: 2px;
      color: #777;
      align-items: center;
      border-radius: 4px;
      padding: 4px;
      font-size: 0.7rem;
      cursor: pointer;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}
/* transparent background of popUp dialog */
.backgroundPopup {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px) sepia(40%) !important;
  background-color: rgba(149, 143, 184, 0.342);
  top: 0;
  left: 0;
}

.backgroundPopup.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.8s;
  animation: fadeIn 0.8s;
}
.backgroundPopup .statistic {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;

  article {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 250);
    border-radius: 0.2rem;
    min-width: 3rem;
    padding: 0.6rem 0.2rem;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    h5 {
      font-size: small;
      color: #777;
      margin: 0;
      font-weight: 500;
    }
    p {
      display: flex;
      width: fit-content;
      font-size: medium;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 0 1rem;
      align-items: center;
      /* border: 1px solid red; */
      justify-content: flex-start;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    translatey: -100%;
  }
  to {
    opacity: 1;
    translatey: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    translatey: -100%;
  }
  to {
    translatey: 100%;
  }
}
