.background {
  position: fixed;
  background-color: teal;
  background-image: url('https://cdn.discordapp.com/attachments/1054960334751928350/1059274040059109446/ccnmagnoo_clean_energy_field_beautiful_dream_octane_render_8ca7c2fb-59ea-4298-9f33-2d6aadffa6c4.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  transition: all 2s ease-in-out;
  left: 0;
  top: 0;
}
.App {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  max-width: 550px;
  min-height: 80vh;
  border-radius: 2em;
  padding: 1em 0em 1em 0em;
  margin-top: 0.25em;
  border: 2px beige solid;
}

@media (width<550px) {
  .App {
    max-width: 400px;
    padding: 0.5em;
  }
}
