.background {
  position: fixed;
  background-color: teal;
  background-image: url('https://i.postimg.cc/P5j9b1nz/ccnmagnoo-clean-energy-field-beautiful-dream-octane-render-2d4d64aa-889c-42ff-8c46-0b58a2e18bc4.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  left: 0;
  top: 0;
}

.App-container {
  position: relative;
  display: flex;
  justify-content: center;
  animation: all 1s ease-in-out;
  left: 0;
  top: 0;
}
.App {
  --transparent: 0.9;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, var(--transparent)) 0%,
    rgba(255, 255, 255, calc(var(--transparent) - 0.3)) 60%,
    rgba(51, 46, 1, 0.5) 100%
  );
  backdrop-filter: blur(3px);
  max-width: 550px;
  border-radius: 2em;
  padding: 1em 0em 1em 0em;
  margin-top: 0.25em;
  border: 2px beige solid;
}

@media (width<550px) {
  .App {
    max-width: 400px;
    padding: 0.5em;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 16px;
  background: transparent;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: royalblue;
  border-radius: 40px;
  height: 20px;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
  background: #e7cfcf;
  border-radius: 40px;
}
